.link {
  stroke: #000;
}

.node {
  fill: #ccc;
  stroke: #000;
}

.keep-center {
    position:    absolute;
    left:        50%;
    top:         50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
  }