.link {
  stroke: #000;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

.keep-center {
    position:    absolute;
    left:        50%;
    top:         50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
  }

.graph-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  border-color: rgb(153, 153, 153);
  border-style: solid;
  border-width: 0.6px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px 0px rgb(153, 153, 153);
  -moz-box-shadow: 2px 2px 2px 0px rgb(153, 153, 153);
  box-shadow: 2px 2px 2px 0px rgb(153, 153, 153);
}

.topic-evolution-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 12px rgb(100, 100, 100);
  -moz-box-shadow: 0 0 12px rgb(100, 100, 100);
  box-shadow: 0 0 12px rgb(100, 100, 100);
}