.graph-container {
    /* background-color: gainsboro; */
    width: 100vw;
    height: 100vh;
    overflow: hidden
}

.graph-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    border-style: solid;
    -webkit-box-shadow: 0 0 12px rgb(100, 100, 100);
    -moz-box-shadow: 0 0 12px rgb(100, 100, 100);
    box-shadow: 0 0 12px rgb(100, 100, 100);
}