.search-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    border-radius: 3.5px;
    -webkit-box-shadow: 0 0 10px 0 rgb(70, 68, 68);
    -moz-box-shadow: 0 0 10px 0 rgb(70, 68, 68);
    box-shadow: 0 0 10px 0 rgb(70, 68, 68);
}

.scroll {
    max-height: 90vh;
    overflow-y: auto
}

.search-result-card {
    cursor: pointer
}